.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.label {
  margin-right: .5rem;
}

.button {
  margin-right: .5rem;
  background-color: rgb(9, 255, 0);
}

.inputContainer {
  margin-bottom: 1rem;
}
  