
.nav {
    /* min-height: 100vh; */
    display: grid;
    grid-template-rows: 7vmin auto;
  }
  
  .nav-header {
    max-height: 10%;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vmin;
    font-size: 2.5vmin;
    color: var(--background);
  }
  
  .nav main {
    background-color: white; 
    color:var(--black);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .nav main h1 {
    color: var(--secondary-dark);
    margin-bottom: 5vmin;
  }
  
  .nav-header :hover {
    color: white;
    background-color: #5DB7DE;
    /* border: solid green;  */
  }